.signUpBtn {
    color: #fff;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: url(../img/blueBtnBg.png);
    background-position: center;
    background-repeat: no-repeat;
    // background-size: cover;
    box-shadow: none;
    padding: 10px 30px;
    height: 44.899px;
    flex-shrink: 0;
    border: none;
    box-shadow: none;
    justify-content: center;
    align-items: center;
}
.greenBtn {
    background-image: url(../img/greenBtn_Bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
    padding: 10px 25px;
    height: 43.689px;
    background-color: #00990a;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    display: inline-flex;
    line-height: normal;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.menuBtn {
    width: 25px;
    height: 25px;
    position: relative;
    & img {
        position: absolute;
        inset: 0;
        margin: auto;
        transition: all ease-in-out 0.3s;
        &:hover {
            filter: brightness(2);
        }
    }
    & .closeicon {
        opacity: 0;
        visibility: hidden;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 12px;
    &  input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      & .slider{
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // background-color: #ccc;
        background: rgba(147, 172, 211, 0.08);
        -webkit-transition: .4s;
        transition: .4s;
        &::before{
            position: absolute;
            content: "";
            height: 12px;
            width: 20px;
            left: 0px;
            bottom: 0px;
            background: #00990A;
            border-radius: 34px !important;
            -webkit-transition: .4s;
            transition: .4s;
        }
      }
      input:checked + .slider {
        background: rgba(147, 172, 211, 0.08);
      }
      
      input:focus + .slider {
        // background: #fff;
      }
      
      input:checked + .slider:before {
        background: #00990A;
        transform: translateX(20px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
        height: 12px;
        width: 40px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
  }
  
  /* Hide default HTML checkbox */
//   .switch input {
//     opacity: 0;
//     width: 0;
//     height: 0;
//   }
  
  /* The slider */
//   .slider {
//     position: absolute;
//     cursor: pointer;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     // background-color: #ccc;
//     background: rgba(147, 172, 211, 0.08);

//     -webkit-transition: .4s;
//     transition: .4s;
//   }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 20px;
    left: 0px;
    bottom: 0px;
    background: #00990A;
    border-radius: 34px !important;
    -webkit-transition: .4s;
    transition: .4s;
  }
  

// .switch {
//     position: relative;
//     display: inline-block;
//     & input {
//         opacity: 0;
//         width: 0;
//         height: 0;
//     }
//     input:focus + .slider {
//         // box-shadow: 0 0 1px #2196F3;
//     }
//     input:checked + .slider:before {
//         transform: translateX(14px);
//     }
//     & .slider {
//         position: absolute;
//         cursor: pointer;
//         top: 6px;
//         left: -34px;
//         right: 0;
//         bottom: 0;
//         border-radius: 7px;
//         background: rgba(147, 172, 211, 0.08);
//         width: 35px;
//         height: 13px;
//         -webkit-transition: 0.4s;
//         transition: 0.4s;
//         &::before {
//             position: absolute;
//             content: "";
//             width: 20px;
//             height: 13px;
//             left: 0px;
//             bottom: 0px;
//             background-color: rgba(0, 153, 10, 1);
//             -webkit-transition: 0.4s;
//             transition: 0.4s;
//         }
//         &.round {
//             border-radius: 34px;
//             &::before {
//                 border-radius: 7px;
//             }
//         }
//     }
// }

.modelBtn {
    color: #00990A;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
}

